.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
  width: 50%;
  height: auto;
  text-align: center;
  margin:  .7em;
  border: 1px dotted white;
  border-radius: 10px;
  h2 {
    color: green;
    font-size: 1em;
  }
  p {
    color: white;
    font-size: .7em;
  }
}
