table {
    tr {
        th {
            height: 50px;
            width: 200px;
            border-bottom: 1px solid black;
        }
    }
}

table {
    tr {
        td {
            height: 50px;
            width: 200px;
            border-bottom: 1px solid black;
        }
    }
}

button {
    padding: .5rem 2rem;
    margin: .5rem;
}