<div class="full">
  <div class="d-flex pt-4">
    <button
      *ngIf="logged"
      (click)="formFlag = !formFlag"
      mat-raised-button
      color="primary"
      class="mt-5 mx-auto"
    >
      {{ !formFlag ? "PUBBLICA POST" : "ANNULLA" }}
    </button>
  </div>
  <div *ngIf="formFlag">
    <form
      id="addPost"
      *ngIf="logged"
      [formGroup]="form"
      (ngSubmit)="addPost()"
      class="p-3"
    >
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Titolo Post</mat-label>
        <textarea matInput formControlName="title" class="w-100"></textarea>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Pubblica post</mat-label>
        <textarea formControlName="body" matInput class="w-100"></textarea>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="w-100 mt-1"
        type="submit"
      >
        Pubblica
      </button>
    </form>
  </div>

  <div class="p-3 columnReverse">
    <app-post-card
      *ngFor="let post of posts; index as i"
      [p]="post"
      (shotId)="deletePost($event)"
      (shotobj)="modify($event)"
    ></app-post-card>
  </div>
</div>
