div {
  padding-top: 2em;
  height: 80vh;
}
.buttonToggle {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate( 5%, 5%);
}
#modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 350px;
  height: 225px;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow:  2px 2px 10px 0 blue,
   7px 7px 10px 0px violet;
  h3 {
      margin-bottom: .5em;
  }
  button {
      margin-top: 1em;
      width: 70%;

  }

}

