@import '../node_modules/bootstrap-scss/bootstrap.scss';
@import 'queries';
@import 'reset';
@import 'font';

/* NaV */
li:not(:first-child) {
    a {
        color: #e94156 !important;
        opacity: 1 !important;

        &:hover {
            color: #fff !important;
        }

        ion-icon {
            font-size: 1.5rem;
        }
    }
}

/* ABOUT */

.about {
    background-image: url(../images/skyline.jpg);
    padding: 5rem 0 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);

    .container {
        h1 {
            font-size: 3rem;
        }

        p {
            color: $dark;
            font-size: 1.2em;
        }
    }
}



/* Section CARD */

section:nth-child(3) {
    background: #f5f5f5 !important;

    .card {
        background: #f5f5f5 !important;
    }
}

.card-body {
    i {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 2rem;
    }
}

.card {
    border: none;
}

/* PARTNER */

h1 {
    font-size: 3rem;
}

.numtwo {
    .col-md {
        display: flex;
        align-items: center;
        padding: 0 3rem;
        img {
            min-width: 100%;
        }
    }
}

/* CAROUSEL */

.carousel-item {
    text-align: center;
    padding: 0 10rem 2rem;

    h2 {
        margin-top: 3em;
        font-size: 2.5rem;
    }

    p {
        margin-top: 2em;
        line-height: 1.5;
        font-size: 1rem;
        text-indent: 10px;
    }

    img {
        margin-top: 2em;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 3rem 0;
    }
}


/* FOOTER */

footer {
    background: $indigo;
    color: #fff;
    text-align: center;
    padding: 2rem 2rem 0 2rem;

    a {
        color: #fff;
        font-size: 1.5rem !important;
    }

    ul {
        list-style-type: none;

        li {
            margin-bottom: .5rem;
        }
    }

    .small {
        p {
            font-size: small;
        }
    }
}