$clrUl: white;

$btn1: #2a70f6;
$btn2: #f08c34;
$btn: (
    paddt: 20px,
    paddl: 15px,
);

$bgclr: #5a26bd;
$btnmargin: 10px;

$container: (
    respw: 80%,
    resph: 500px,
);

$img: (
    wdt: 350px,
    hth: 350px,
);

$h1: (
    fSize: 50px,
    letspace: 2px,
    mrg: 0,
);

$p: (
    fs: 15px,
    lineh: 1.4,
    paddb: 10px,
);

$shcasepadd: 30px;