<div *ngIf="commentiFlag">
  <form
    *ngIf="isLog"
    [formGroup]="form"
    class="mt-5 p-3"
    (ngSubmit)="addComment()"
  >
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Commenta...</mat-label>
      <textarea
        (focus)="pubblicaFlag = true"
        (focusout)="delay()"
        formControlName="body"
        matInput
      ></textarea>
    </mat-form-field>
    <button
      *ngIf="pubblicaFlag"
      mat-stroked-button
      color="primary"
      class="w-50 mt-3"
      type="submit"
    >
      Pubblica
    </button>
  </form>
  <cdk-accordion class="example-accordion mx-auto">
    <cdk-accordion-item
      *ngFor="let item of post.comments; let index = index"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index"
    >
      <div
        class="example-accordion-item-header"
        (click)="accordionItem.toggle()"
      >
        {{ item.authorname }}: {{ item.body | puntini }}
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? "close" : "open" }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
        {{ item.body }}
        <div>
          <button
            *ngIf="post.comments[index].idUser == userId"
            type="button"
            (click)="deleteComment(index)"
            mat-button
            color="warn"
          >
            <small>Elimina</small>
          </button>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>
