<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3c2846;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}
.card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #287bff;
    margin: 30px;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 10px 0 #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.card:nth-child(1){
    background: linear-gradient(to bottom, #ff2ae0, #645bf6);
}
.card:nth-child(2){
    background: linear-gradient(to bottom, #ffec61, #f321d7);
}
.card:nth-child(3){
    background: linear-gradient(to bottom, #24ff72, #9a4eff);
}
.icon {
    position: relative;
    width: 140px;
    height: 120px;
    background: #3c2846;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.1),
    inset 0 -6px 0 #fff;
    z-index: 99999;
    display: flex;
    justify-content: center;
}
.icon::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    border-top-right-radius: 50px;
    box-shadow: 16px -16px 0 15px  #3c2846;
}
.icon::after{
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    border-top-left-radius: 50px;
    box-shadow: -16px -16px 0 15px  #3c2846;
}
.icon ion-icon {
    color: #fff;
    position: relative;
    font-size: 5em;
    --ionicon-stroke-width: 24px;
}
.content {
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 140px;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.content h2 {
    font-size: 1.75em;
    color: white;
    margin-bottom: 10px;
}
.content p {
    color: #fff;
    margin: 4px;
}
.cardButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    margin: 5px 0;
    width: 30%;
    padding: 2px 4px;
    background-color: white;
    border-radius: 6px;
}
.show, .timerShow {
    visibility: hidden;
}
.active {
    visibility: visible!important;
=======
* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3c2846;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}
.card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #287bff;
    margin: 30px;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 10px 0 #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.card:nth-child(1){
    background: linear-gradient(to bottom, #ff2ae0, #645bf6);
}
.card:nth-child(2){
    background: linear-gradient(to bottom, #ffec61, #f321d7);
}
.card:nth-child(3){
    background: linear-gradient(to bottom, #24ff72, #9a4eff);
}
.icon {
    position: relative;
    width: 140px;
    height: 120px;
    background: #3c2846;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.1),
    inset 0 -6px 0 #fff;
    z-index: 99999;
    display: flex;
    justify-content: center;
}
.icon::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    border-top-right-radius: 50px;
    box-shadow: 16px -16px 0 15px  #3c2846;
}
.icon::after{
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    border-top-left-radius: 50px;
    box-shadow: -16px -16px 0 15px  #3c2846;
}
.icon ion-icon {
    color: #fff;
    position: relative;
    font-size: 5em;
    --ionicon-stroke-width: 24px;
}
.content {
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 140px;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.content h2 {
    font-size: 1.75em;
    color: white;
    margin-bottom: 10px;
}
.content p {
    color: #fff;
    margin: 4px;
}
.cardButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    margin: 5px 0;
    width: 30%;
    padding: 2px 4px;
    background-color: white;
    border-radius: 6px;
}
.show, .timerShow {
    visibility: hidden;
}
.active {
    visibility: visible!important;
>>>>>>> 3bd779549929ad404960627f9cbe35787529ff7d
}