#materialIcon {
    margin-bottom: 8px;
}

a{
    cursor:pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.follows {
    color: black;
}


.select {
  border-bottom: 2px solid #3f51b5;
}
#navbar {
  background-color: #3f51b5!important;
}
#nomeUtente {
  color: whitesmoke;
}
#button {
  background-color: white!important;
}



