<nav id="navbar" class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a id="nomeUtente" class="navbar-brand" href="#">{{ me.username }}</a>
    <a class="trigger" [matMenuTriggerFor]="menu">
      Followers: {{ followers.length }}</a
    >
    <a id="followed" class="trigger" [matMenuTriggerFor]="menu1">
      Followed: {{ followed.length }}
    </a>
    <mat-menu #menu1="matMenu" class="mt-4 pt-3 text-center">
      <div class="followItem" *ngFor="let f of followed">
        <a class="d-block follows" [routerLink]="['/user/', f.id]">{{
          f.username
        }}</a>
      </div>
    </mat-menu>
    <mat-menu #menu="matMenu" class="mt-4 pt-3 text-center">
      <a
        [routerLink]="['/user/', f.id]"
        class="followItem d-block follows"
        *ngFor="let f of followers"
        >{{ f.username }}</a
      >
    </mat-menu>

    <button
      id="button"
      mat-mini-fab
      color="primary"
      aria-label="Example icon button with a menu icon"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <mat-icon color="primary" id="materialIcon">menu</mat-icon>
    </button>

    <div
      class="offcanvas offcanvas-end white-bg"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <mat-icon
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>home</mat-icon>
          </mat-icon>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              [routerLink]="['/']"
              [routerLinkActive]="['select']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/trends']"
              [routerLinkActive]="['select']"
              aria-current="page"
              *ngIf="isLogged"
              >Trends</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/signup']"
              [routerLinkActive]="['select']"
              aria-current="page"
              *ngIf="!isLogged"
              >Signup</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/login']"
              [routerLinkActive]="['select']"
              aria-current="page"
              *ngIf="!isLogged"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/profile']"
              [routerLinkActive]="['select']"
              aria-current="page"
              *ngIf="isLogged"
              >Profile</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/myposts']"
              [routerLinkActive]="['select']"
              aria-current="page"
              *ngIf="isLogged"
              >MyPosts</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/followed-posts']"
              [routerLinkActive]="['select']"
              aria-current="page"
              *ngIf="isLogged"
              >Followed</a
            >
          </li>
          <li class="nav-item active">
            <a
              aria-current="page"
              [routerLinkActive]="['select']"
              class="nav-link active"
              (click)="logout()"
              *ngIf="isLogged"
            >
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
